.idea/
*.log
test/target
test/with space
test/*.log
test/*.conf
web/build/
web/node_modules/
statik/
target/
logstation
logstation.conf
logstation2.conf
*.exe
openapi-generator-cli.jar
logstation.iml
dist/
/test/

# main folder should not have web files
.yarn/
.yarnrc.yml
/node_modules/
package.json
